body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.project-list {
    display: flex;
    gap: 10px;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    width: calc(31.333% - 20px);
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .project-list {
        flex-direction: column; /* Stack the blocks vertically */
        align-items: center;
    }

    .project {
        width: 100%; /* Full width for each project */
        max-width: 330px; /* Optionally, set a max-width */
        height: 330px; /* Set height to create square blocks */
    }
}
